.fu-container{
    display: flex;
    flex-direction: column;
    place-self: center;
    align-items: center;
    gap: 12px;
    max-width: 300px;
    margin: 36px 0px;
    min-height: 200px;
}

.fu-text{
    font-size: 36px;
}

.fu-or{
    font-size: 24px;
    opacity: 90%;
}

.fu-form{
    display: flex;
    align-self: stretch;
}

.fu-button{
    flex-grow: 1;
    cursor: pointer;
    padding: 12px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 12px;
    outline: none;
    border: none;
    background-color: var(--color4);
    border: 2px solid transparent;
    color: var(--color1);
    transition: all .15s ease;
}

.fu-button:hover{
    background-color: var(--color1);
    color: var(--color4);
    border: 2px solid var(--color4);
    transition: all .15s ease;
}

.fu-file-input{
    display: none;
}

label > *{
    margin: 0;
}