@keyframes rotate{
    from{
        rotate: 0deg;
    }

    to{
        rotate: 360deg;
    }
}

.spinner{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-right: 3px solid var(--color3);
    animation: rotate 1s infinite;
}

.form{
    display: flex;
    flex-direction: column;
    place-self: center;
    text-align: center;
    padding: 16px;
    margin: 90px 0px;
    gap: 10px;
    border-radius: 16px;
    background-color: var(--color3);
}

.form > *{
    flex: 1 1 100%;
}

.primary-button{
    align-self: center;
    background-color: #1feecb;
    padding: 12px;
    outline: none;
    border: none;
    border-radius: 12px;
    box-shadow: 0px 0px 6px -3px #1feecb;
    cursor: pointer;
    color: var(--color1);
}

.form input{
    display: none;
}

label > *{
    margin: 0;
}