.fw-table{
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow-x: auto;
    text-align: left;
    border-collapse:collapse;
}

.fw-table tr{
    border-bottom: 2px solid var(--color3);
}

.fw-table thead td{
    padding: 12px;
    border-bottom: 2px solid var(--color3);
}
.fw-table tbody td{
    padding: 12px;
}

@media (width >= 600px){
    .fw-table{
        align-self: center;
    }
}